<%- layout('layout') %>

<div class="row">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
        </div>
        <div class="form-group">
            <label for="meta-title" class="col-sm-2 control-label">Meta Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="meta-title" placeholder="Meta Title">
            </div>
        </div>
        <div class="form-group">
            <label for="body" class="col-sm-2 control-label">Body</label>
            <div class="col-sm-10">
                <textarea id="body" class="form-control"></textarea>
            </div>
        </div>
        <% if (isAuth) { %>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="sbm" type="button" class="btn btn-default">Create</button>
            </div>
        </div>
        <% } %>
    </form>
</div>
<div class="row">
    <div class="col-md-12 response"></div>
</div>
<script>
    $('#sbm').click(() => {
        let blog = {};
        blog.title = $('#title').val();
        blog.metTitle = $('#meta-title').val();
        blog.body = $('#body').val();
        blog.label = $('#label').val();

        $.ajax({
            method: 'POST',
            data: blog,
            url: '/api/blog/',
            success: function(response) {
                let msg = JSON.stringify(response)
                $('.response').text(msg)
            }
        })
    })
</script>