<h2>Registrate</h2>
<form action="/user/create" method="POST">
    <input type="email" name="email">
    <input type="password" name="password" id="">
    <label for="user">
        user
    </label>
    <input type="radio" name="role" id="user" value="user">
    <label for="admin">admin</label>
    <input type="radio" name="role" id="admin" value="admin">

    <input type="submit">
</form>